<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pirate Themed Slot Machine</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

<header>
  <h1>Pirate Themed Slot Machine</h1>
</header>
