<div id="modal">
    <div id="modal-content">
      <h2 id="modal-title"></h2>
      <div id="modal-body"></div>
      <div id="modal-buttons">
        <button id="modal-ok-btn">OK</button>
      </div>
    </div>
  </div>