<% include ./partials/header %>

<main>
  <div id="reels">
    <!-- Placeholder for the reels -->
  </div>
  <div id="controls">
    <div id="bet-control">
      <label for="bet-select">Bet:</label>
      <select id="bet-select">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
    </div>
    <button id="spin-btn">Spin</button>
  </div>
</main>

<% include ./partials/footer %>