body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  #modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  #modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
  }
  
  #modal-buttons {
    text-align: center;
    margin-top: 20px;
  }
  
  .reel {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 300px;
    margin-right: 20px;
    background-color: #ddd;
    border: 1px solid #999;
    border-radius: 5px;
  }
  
  .reel img {
    display: block;
    margin: 0 auto;
  }